.Header {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
    top: 0;
    right: 0;
    z-index: 999;
    left: 0;
    background-color: #f2f0e4;
}

.Header img {
    width: 26px;
}

.nav_items img {
margin: 0 0.8em;
}
