.profileContainer {
    height: 100%;
    overflow: auto;
    padding: 0 0.5em;
    padding-top: 5em;
}
.actionBtn {
    text-align: right
}

.actionBtn svg {
    font-size: 2em;
    margin-right: 1em;
}
.actionBtn > svg:last-child {
  margin-right: 0
}

.profileContainer .profile_img {
    width: 82px;
    border-radius: 2.2em
}
.profileContainer h4 {
   font-size: 1.5em;
   color: var(--textColor);
   margin: 0.5em 0 0.1em 0;
}

.profileContainer p {
    font-size: 1.1em;
    color: #aaaaaa;
    margin: 0;
}

.profileContainer .followSec {
    display: flex;
    margin-bottom: 2.5em;
}

.profileContainer .followSec > p:first-child {
    margin-right: 2.5em
}

.profileContainer .followSec p span {
    color: var(--textColor);
    font-weight: 500;
    font-size: 3em;
    margin-right: 0.2em
}

.profileContainer button {
    border: none;
    color: var(--btnBgColor);
    background: transparent;
    margin-bottom: 2.4em
}

.profileContainer .nominatedNameSec {
    display: flex;
    align-items: center;
    margin-bottom: 1.1em
}

.profileContainer .nominatedNameSec img {
    width: 42px;
    border-radius: 1.1em;
    margin-right: 0.6em
}

.profileContainer .nominatedNameSec p {
    line-height: 1.5;
    font-size: 0.976em;
}

.profileContainer .nominatedNameSec p span {
    font-weight: 500;
    color: var(--textColor)
}

.profileContainer .addMembersBtn {
    background-color: lightblue !important;
    padding: 0.8em 1em;
    border-radius: 1em;
    margin-bottom: 0 !important;
    align-items: center;
    justify-content: center;
    line-height: 1.1;
    margin-top: 0.4em;
}